{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <p>Welcome to {{title}}</p>
    <p>Welcome to {{title}}</p>
    <p>Welcome to {{title}}</p>
{% endblock %}