<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
{% block body %}{% endblock %}
<script src="/javascripts/sctipt.js"></script>
</body>
</html>
