{% extends 'layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>
    <form action="/tele2">
        <input placeholder="domain.ru" value="{{ domain }}" name="domain"/>
        <button>Получить ссылку</button>
    </form>
    <div class="link">
        {% if domain %}
            {% for addr in ip %}
                {% set uri = ('http://' ~ addr ~ ':' ~ port ~ '/tele2/' ~ domain ~ '/show') %}
            <a href="{{ uri }}" target="_blank">{{ uri }}</a>
                <button class="copy" data-location="{{ uri }}">Скопировать</button>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
